@model ProjetoModeloDDD.ViewModels.ClienteViewModel

@{
    ViewBag.Title = ViewBag.Message;
}

<h2>@ViewBag.Message</h2>

<p>
    <b>Nome completo: </b> @Html.DisplayFor(Model => Model.Nome) @Html.DisplayFor(Model => Model.SobreNome)
</p>

<p>
    <b>E-Mail: </b> @Html.DisplayFor(Model => Model.Email)
</p>

<p>
    <b>E-Mail: </b> @Html.DisplayFor(Model => Model.Celular)
</p>

<p>
    <b>Ativo: </b> @Html.DisplayFor(Model => Model.Ativo)
</p>

<div>
    @Html.ActionLink("<< Voltar", "Index")
</div>